@inherits LayoutComponentBase

<div class="wrapper">
    <div class="navbar-custom">
        <div class="topbar container-fluid">
            <div class="d-flex align-items-center gap-lg-2 gap-1">
                
            </div>
            <ul class="topbar-menu d-flex align-items-center gap-3">
                <li>
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="left-side-menu">
        <NavMenu />
    </div>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </div>
 </div>