@inherits LayoutComponentBase

<div id="layout">
    <div id="logo">PureScrum</div>
    <div id="header"><Header/></div>
    <div id="nav"><SideMenu/></div>
    <div id="main">@Body</div>
</div>

@code {

}
